.chips {
  color: var(--passbolt-black);
  padding: 0 .8rem;
  border-radius: 0.7rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4rem;
  background-color: var(--passbolt-red);
}

.under-main-menu {
  display: flex;
  margin-top: calc(.2rem + (-1 * var(--ifm-h1-vertical-rhythm-bottom)* var(--ifm-leading))) !important;
  margin-bottom: 1rem;
}
