.alert {
  --ifm-alert-foreground-color: white;
  background-color: transparent;
  border-width: 1px;
}

.alert code {
  background-color: rgba(255,255,255,.125);
  border: none;
}

/* Remove alert icons */
.alert > div > span {
  display: none;
}

/* Main text font size */
.alert p {
  font-size: var(--small-text-font-size);
}

.alert--secondary {
  border-color: var(--passbolt-light-grey);
  background: rgba(var(--passbolt-light-grey-rgb), .2);
}

.alert--success {
  border-color: rgba(var(--passbolt-green-rgb), .5);
  background: rgba(var(--passbolt-green-rgb), .02);
}

.alert--info {
  border-color: rgba(var(--passbolt-blue-rgb), .5);
  background: rgba(var(--passbolt-blue-rgb), .02);
}

.alert--warning {
  border-color: rgba(var(--passbolt-yellow-rgb), .5);
  background: rgba(var(--passbolt-yellow-rgb), .02);
}

.alert--danger {
  border-color: rgba(var(--passbolt-red-rgb), .5);
  background: rgba(var(--passbolt-red-rgb), .02);
}