:root {
  --badge-default-hover-background-color: white;
  --badge-default-color: white;
  --badge-default-hover-color: var(--passbolt-grey);
  --badge-secondary-hover-background-color: var(--true-black);
  --badge-secondary-color: white;
}