:root {
  --ifm-card-background-color: var(--passbolt-grey);
  --ifm-card-border-radius: .5rem;
}

.index-card-list .card {
  border: 1px solid var(--passbolt-light-grey);
  box-shadow: unset;
}

.index-card-list .card .theme-doc-card-icon {
  display: none;
}