/* Inter */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("@site/static/fonts/inter/Inter-roman.var.woff2?v=3.19")
    format("woff2");
  font-named-instance: "Regular";
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("@site/static/fonts/inter/Inter-italic.var.woff2?v=3.19")
    format("woff2");
  font-named-instance: "Italic";
}

:root {
  --ifm-font-family-base: "Inter",ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
 
}