:root {
  --layout-max-width: 1440px;
  --layout-content-background: var(--passbolt-grey);
}

.navbar__inner {
  max-width: var(--layout-max-width);
  margin-left: auto;
  margin-right: auto;
}

.main-wrapper {
  width: 100%;
  max-width: var(--layout-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}

.main-wrapper > div {
  gap: 0.5rem;
}

.main-wrapper > div > main {
  border-left: 1px solid rgba(255,255,255,.1);
}

.main-wrapper > div > main > .container > .row {
  gap: 1rem;
  height: 100%;
}

.main-wrapper > div > main > .container > .row > .col.col--3 {
  display: none;
}

.main-wrapper > div > aside {
  border-right: unset;
  width: 100%;
  max-width: 22rem;
}

.main-wrapper .container {
  padding: 0 calc(var(--ifm-spacing-horizontal) * 2);
}

.pagination-nav {
  display: none;
}

.main-wrapper > div > main footer {
  display: none;
  padding-top: 3rem;
  margin-top: auto;
}

.main-wrapper > div > main footer .theme-edit-this-page {
  display: inline-flex;
  font-size: .875rem;
  line-height: 1;
  color: inherit;
  text-decoration: none;
  padding: .5rem 1rem;
  align-items: center;
  justify-content: center;
  border-radius: var(--ifm-global-radius);
  border: 1px solid rgba(255,255,255, .15);
}

.main-wrapper > div > main footer .theme-edit-this-page:hover {
  border-color: var(--ifm-color-primary);
}

.main-wrapper > div > main footer .theme-edit-this-page svg {
  display: none;
}

.main-wrapper > div > main footer .theme-last-updated {
  font-style: normal;
  font-size: .875rem;
  line-height: 1;
}

.main-wrapper > div > main > .container > .row > .col:first-of-type > div {
  height: 100%;
}

.main-wrapper > div > main > .container > .row > .col:first-of-type > div article {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 997px) {
  .main-wrapper > div > main > .container > .row > .col:first-of-type {
    max-width: 100% !important;
  }

  .main-wrapper > div > main footer {
    display: block;
  }
}

@media (min-width: 1280px) {
  .main-wrapper > div > main > .container > .row > .col:first-of-type {
    max-width: 75%;
  }

  .main-wrapper > div > main > .container > .row > .col.col--3 {
    display: block;
  }
}