:root {
  --layout-max-width: 1440px;
  --layout-content-background: var(--passbolt-grey);
}

.navbar__inner {
  max-width: var(--layout-max-width);
  margin-left: auto;
  margin-right: auto;
}

.main-wrapper {
  width: 100%;
  max-width: var(--layout-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}

.main-wrapper > div {
  gap: 0.5rem;
}

.main-wrapper > div > main {
  border-left: 1px solid rgba(255,255,255,.1);
}

.main-wrapper > div > main .row {
  gap: 1rem;
}

.main-wrapper > div > aside {
  border-right: unset;
  width: 100%;
  max-width: 22rem;
}

.main-wrapper .container {
  padding: 0 calc(var(--ifm-spacing-horizontal) * 2);
}