.navbar {
  --ifm-navbar-link-color: white;
  min-height: 4.5rem;
}

.navbar .navbar__inner {
  position: relative;
}

.navbar__brand,
.navbar__brand .navbar__logo {
  margin-right: unset;
}

div.navbar__items .navbar__brand {
  margin-left: 1rem;
}

/* Desktop main website link */
a.navbar__item.main-website-link {
  display: none;
  width: 2rem;
  height: 2rem;
  border-radius: 0.32rem;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.15);
  color: var(--ifm-navbar-link-color);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none !important;
}

a.navbar__item.main-website-link svg {
  display: none;
}

a.navbar__item.main-website-link:hover {
  box-shadow: inset 0 0 0 1px var(--ifm-color-primary);
}

/* Mobile main website link */
div.menu__list-item a.main-website-link {
  display: flex;
  background: var(--ifm-menu-color-background-active);
  font-size: 15px;
  font-weight: var(--ifm-button-font-weight);
  margin: 0 0 0.2rem -0.5rem;
  padding: 0.6rem 1.5rem;
  position: relative;
  text-align: left;
  top: -0.5rem;
  width: calc(100% + 1rem);
  color: inherit;
}

div.menu__list-item a.main-website-link::after {
  content: attr(title);
  margin-left: .25rem;
}

div.menu__list-item a.main-website-link:hover {
  text-decoration: none;
}

.navbar__items a.navbar__item:nth-of-type(3) {
  margin-left: auto;
}

.navbar__items a.navbar__item:last-of-type {
  margin-right: auto;
}

.navbar__items--right {
  margin-left: auto;
}

.header-github-link {
  padding: unset;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.navbar__items .navbar__link {
  text-decoration: underline;
  text-decoration-color: rgba(var(--ifm-color-primary-rgb),0);
  text-decoration-thickness: 2px;
  text-underline-offset: 1rem;
  font-weight: bold;
  transition: all .1s linear;
}

.navbar__items .navbar__link.navbar__link--active,
.navbar__items .navbar__link:hover {
  color: var(--ifm-navbar-link-color);
  text-decoration: underline;
  text-decoration-color: var(--ifm-color-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: .5rem;
}

.navbar__items--right > :last-child {
  padding-top: unset;
  padding-bottom: unset;
  padding-right: unset;
  padding-left: unset;
}

.navbar__search {
  --search-local-modal-background: transparent;
  --ifm-navbar-search-input-background-color: transparent;
  margin-left: 1.5rem;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.15);
  border-radius: 1rem;
}


.navbar__search-input {
  --ifm-navbar-search-input-placeholder-color: white;
  --ifm-navbar-search-input-color: white;
  --ifm-navbar-search-input-icon: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.60561 10.1056L12.5 13M9.60561 10.1056C7.52261 12.1887 4.14531 12.1887 2.06231 10.1056C-0.0207694 8.02261 -0.0207694 4.64531 2.06231 2.56231C4.14531 0.479231 7.52261 0.479231 9.60561 2.56231C11.6887 4.64531 11.6887 8.02261 9.60561 10.1056Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  width: 14rem;
  background-position-x: 0.85rem;
}

.navbar__search-input:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 1px var(--ifm-color-primary);
}

.navbar__search kbd {
  box-shadow: unset;
  border: unset;
  color: white;
  background: rgb(0,0,0,.5);
}

@media (min-width: 997px) {

  a.navbar__item.main-website-link {
    display: flex;
  }

  div.navbar__items .navbar__brand {
    margin-left: 3.4rem;
  }
}