.theme-doc-markdown th,
.theme-doc-markdown td {
  text-align: center;
  min-width:10rem;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 50%;
  word-break: break-all;
  text-align: left;
}

