.theme-doc-toc-desktop {
  padding-top: 5rem;
}

.theme-doc-toc-mobile {
  display: none;
}

ul.table-of-contents {
  --ifm-toc-border-color: rgba(255,255,255,.1);
  --ifm-toc-padding-vertical: 0;
  --ifm-toc-padding-horizontal: 0;
  border-left: unset;
  font-size: 0.875rem;
}

ul.table-of-contents li {
  position: relative;
  padding: .5rem;
}

ul.table-of-contents .table-of-contents__link {
  display: flex;
  opacity: .5;
}

ul.table-of-contents .table-of-contents__link::before {
  content: '';
  background: var(--ifm-toc-border-color);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
}

ul.table-of-contents .table-of-contents__link:hover {
  opacity: 1;
  color: inherit;
}

ul.table-of-contents .table-of-contents__link--active {
  opacity: 1;
  color: inherit;
}

ul.table-of-contents .table-of-contents__link--active::before {
  background: var(--ifm-color-primary);
}