@import url('./_font.css');
@import url('./_layout.css');
@import url('./_navbar.css');
@import url('./_sidebar.css');
@import url('./_code.css');
@import url('./_breadcrumb.css');
@import url('./_toc.css');
@import url('./_footer.css');
@import url('./_card.css');
@import url('./_typography.css');
@import url('./_alert.css');
@import url('./_tabs.css');
@import url('./_badge.css');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #d40101;
  --ifm-color-primary-rgb: 212, 1, 1;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --true-black: #000000;
  --passbolt-black: #171717;
  --passbolt-black-rgb: 23, 23, 23;
  --passbolt-grey: #1F1F1F;
  --passbolt-light-grey: #2E2E2E;
  --passbolt-red: var(--ifm-color-primary);
  --passbolt-red-rgb: var(--ifm-color-primary-rgb);
  --passbolt-green: #088869;
  --passbolt-green-rgb: 8, 136, 105;
  --passbolt-blue: #2894DF;
  --passbolt-blue-rgb: 40, 148, 223;
  --passbolt-yellow: #F2AE55;
  --passbolt-yellow-rgb: 242, 174, 85;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #d40101;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-background-surface-color: var(--passbolt-grey);
  --ifm-background-color: var(--passbolt-black);
  --ifm-color-emphasis-300: var(--passbolt-light-grey);
  --ifm-code-background: var(--ifm-color-emphasis-300);
  --ifm-hover-overlay: var(--ifm-color-emphasis-300);

  /* Breadcrumb */
  --ifm-breadcrumb-color-active: white;
}
